/* Write your CSS here! */
body{
    margin: 8px;
    display:block;
    background-color: black;
    
}
#mainHeading{
    color: rgb(145, 14, 14); 
    color: red;
    background-color: #f2be22;
    font-size: 4rem;
    text-align: center;
}
#funParagraph{
    color: rgb(34, 224, 157);
    color: green;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}
.gameimage{
    width: 25%;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
}
.redbackground{
    background-color: #f24c3d;
    
}
.greenbackground{
    background-color: #22a699;
    
}
.orangebackground{
    background-color: #f29727;
}
p{
    font-size: 1.75rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    text-align: center;
    font-weight: bold;

}
.underlined{
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}
footer{
    color: antiquewhite;
    text-align: center;
}
div {
    padding:20px ;

}
article {
    font-size: 1.75rem;
    text-align: center;
}
.heart{
    width: 1%;
    border-radius: 0%;
    text-align: left;

    
}
h2{
    font-size: 3rem;
    text-align: center;
    
}